<form action="/admin/event/create" method="POST">
    Event Name
    <input type="text" name="createEventName"><br/>
    description
    <input type="text" name="createDescription"><br/>
    Price
    <input type="number" name="createPrice"><br/>
    Seat
    <input type="number" name="createSeat"><br/>
    <button type="submit">submit</button>
</form>

