<html>
<head>
	<title>Registration</title>
	<style type="text/css">
		.card-body {
			background-color: white;
			box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
			margin :0 auto;
			text-align: center;
			margin-top : 5%;
			max-width: 60%;
		}
		body {
			background-image: -moz-linear-gradient( 136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
		    background-image: -webkit-linear-gradient( 136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
		    background-image: -ms-linear-gradient( 136deg, rgb(224,195,252) 0%, rgb(142,197,252) 100%);
			margin:  0;
		}
	</style>
</head>
<body>
	
		<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <div class="modal fade" id="myModal" role="dialog">
    <script type="text/javascript">
      $(document).ready(function(){
        $("#myModal").modal('show');
      });
      $('#myModal').modal({backdrop:'static',keyboard:false, show:true});
    </script>
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            
            <h4 class="modal-title">FILE UPLOADED</h4>
          </div>
          <div class="modal-body">
            <p>Please wait for the confirmation</p>
          </div>
          <div class="modal-footer">
            <a href="#"><button type="button" class="btn btn-default">HOME</button></a>
          </div>
        </div>
      </div>
      
  </div>
 </body>

</html>

